{% extends 'main/index.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />

<div class="container">
    <div class="row"><div class="col"><h2 class="pb-2 border-bottom border-danger">Справочники</h2></div></div>
  <div class="row">



    <div class="col-3 w-30" style="padding-top: 1em;">
                <form class="d-flex" role="search" style="margin-bottom: 1rem;">
                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-outline-danger" type="submit">Поиск</button>
                </form>
    <div class="btn-group-vertical" style="width: 100%" role="group" aria-label="Vertical radio toggle button group">
        <input book-select="1" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked="" info="Площади зданий">
        <label class="btn btn-outline-secondary" for="vbtn-radio1">Площади зданий</label>

        <input book-select="2" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" info="Договоры">
        <label class="btn btn-outline-secondary" for="vbtn-radio2">Договоры</label>

        <input book-select="3" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off" info="Коды услуг">
        <label class="btn btn-outline-secondary" for="vbtn-radio3">Коды услуг</label>

        <input book-select="4" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio4" autocomplete="off" info="Основные Средства">
        <label class="btn btn-outline-secondary" for="vbtn-radio4">Основные Средства</label>

        <input book-select="5" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio5" autocomplete="off" info="Счета главной книги">
        <label class="btn btn-outline-secondary" for="vbtn-radio5">Счета главной книги</label>

        <input book-select="6" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio6" autocomplete="off" info="Счета на оплату">
        <label class="btn btn-outline-warning" for="vbtn-radio6">Счета на оплату</label>
    </div>
        <div class="btn-group-vertical" style="width: 100%; margin-top: 1rem;" >
        <button type="button" class="btn btn-outline-danger">Сохранить изменения</button>
        </div>
    </div>
    <div class="col-9  w-70" style="padding-top: 1em;">
        <div class="container align-content-end" style="display: none">
            <div class="col-1"><button id="table_title" type="button" class="btn btn-success"></button></div>
        </div>

{#        <span class="title-decor" style="color: #0f5132"></span>#}
        <div id="example"></div>
        <ul class="pagination pagination-sm" id="pagination">

          </ul>
{#        <ul class="pagination pagination-lg flex-wrap disabled">#}
{#            <li class="page-item disabled">#}
{#              <a class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">#}
{#  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>#}
{#</svg>&nbsp;&nbsp;Пред.</a>#}
{#            </li>#}
{#            <li class="page-item disabled"><a class="page-link" href="#">1</a></li>#}
{#            <li class="page-item active  disabled" aria-current="page">#}
{#              <a class="page-link" href="#">2</a>#}
{#            </li>#}
{#            <li class="page-item disabled"><a class="page-link" href="#">3</a></li>#}
{#            <li class="page-item disabled"><a class="page-link" href="#">4</a></li>#}
{#            <li class="page-item disabled"><a class="page-link" href="#">5</a></li>#}
{#            <li class="page-item disabled">#}
{#              <a class="page-link" href="#">След.&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">#}
{#  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>#}
{#</svg></a>#}
{#            </li>#}
{#          </ul>#}


    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script>
const container = document.querySelector('#example');

var hot = null;

//hot.setDataAtCell(0, 0, 'Ford');
const api_url = '{{ url_for('main_books.get_data') }}';
var select = 1;
var page = 0;
var page_el = undefined;
var chunks = [];

var table_title = document.getElementById('table_title');

function pivot(arr) {
  const pivotedArr = [];

  if (!arr || arr.length === 0 || !arr[0] || arr[0].length === 0) {
    return pivotedArr;
  }

  const rowCount = arr.length;
  const colCount = arr[0].length;

  for (let i = 0; i < rowCount; i++) {
    for (let j = 0; j < colCount; j++) {
      if (!pivotedArr[j]) {
        pivotedArr[j] = [];
      }

      pivotedArr[j][i] = arr[i][j];
    }
  }

  return pivotedArr;
}

function rotate_arr_by_90_deg_r(arr){

    let n_arr= []; // новый перевёрнутый массив

    let n_rows = arr[0].length;   // количество новых строк

    let n_cols = arr.length;      // количество новых столбцов

    for(let x = 0; x < n_rows; x++){

        let row_arr = []; // это элемент из нового массива

        for(let y = (n_cols - 1), z = 0; y >= 0; y--, z++){

            row_arr[z] = arr[y][x];

        }

        n_arr[x] = row_arr;

    };

    return n_arr;

};

function nav_page(id) {
    console.log(id);
}
function pagination(chunk_size) {
    let container_page = document.getElementById("pagination");
    container_page.innerHTML = "";
    for (let i = 0; i < Math.min(20,chunk_size); i++) {
        let li = document.createElement('li');
        li.classList.add("page-item");
        var a = document.createElement('a');
        a.classList.add('page-link');
        if(i == page) {
            a.classList.add('active');
            page_el = a;
        }
        a.addEventListener('click', function () {
            console.log((this.innerHTML));

            if(page_el !== undefined)
                page_el.classList.remove('active');

            page_el = this;


            page = this.innerHTML;
            this.classList.add('active');

            container.innerHTML = ""; //.remove();
            hot = new Handsontable(container, {
              data: o[page],
              rowHeaders: false,
              colHeaders: true,
              height: 'auto',
              autoWrapRow: false,
              autoWrapCol: true,
              licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
            });
        });
        a.innerHTML = "" + i;
        li.appendChild(a);
        //li.setAttribute('page_id', i);
        //li.innerHTML = "<a class=\"page-link\" onclick=\"nav_page(" + i + ")  href='#'>" + i + "</a>";
        container_page.appendChild(
            li
        )
    }
}

const chunk = (arr, size) =>
  Array.from({ length: Math.ceil(arr.length / size) }, (v, i) =>
    arr.slice(i * size, i * size + size)
  );
    function book_select(el) {
        page = 0;
        console.log(el);
        console.log(el.getAttribute('book-select'));
        select = el.getAttribute('book-select')

        table_title.innerHTML = el.getAttribute('info')


        get_data()
    }

    function get_data(){
                fetch(api_url + select)
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            // Process the retrieved user data
            console.log('data:', data);
            //var a = pivot(data.data);
            //console.log(a)
            //a.shift();
            //console.log(a);
            len = data.data.length;
            console.log(len);
            o = chunk(data.data, Math.min(20));
            chunks = o;
            console.log(chunk(data.data, Math.min(20))); // ,Math.round(len/10)
            console.log(o.length);

            if(o.length > 1) {
                pagination(o.length);
            }
            //table_title.innerHTML = data.book_name;
            container.innerHTML = ""; //.remove();
            hot = new Handsontable(container, {
              data: o[page],
              rowHeaders: false,
              colHeaders: true,
              height: 'auto',
              autoWrapRow: false,
              autoWrapCol: true,
              licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
            });

          })
          .catch(error => {
            console.error('Error:', error);
          });
    }

window.onload = function () {
    get_data()
}
    </script>
{% endblock %}