{% extends 'main/index.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />

<div class="container">
    <div class="row"><div class="col"><h2 class="pb-2 border-bottom border-success">Справочники</h2></div></div>
  <div class="row">



    <div class="col-2" style="padding-top: 1em;">

    <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
        <input book-select="1" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked="">
        <label class="btn btn-outline-success" for="vbtn-radio1">Площади зданий</label>

        <input book-select="2" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
        <label class="btn btn-outline-success" for="vbtn-radio2">Договора</label>

        <input book-select="3" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
        <label class="btn btn-outline-success" for="vbtn-radio3">Коды услуг</label>

        <input book-select="4" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio4" autocomplete="off">
        <label class="btn btn-outline-success" for="vbtn-radio4">Основные Средства</label>

        <input book-select="5" onclick="book_select(this)" type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio5" autocomplete="off">
        <label class="btn btn-outline-success" for="vbtn-radio5">Счета главной книги</label>
    </div>
    </div>
    <div class="col-10" style="padding-top: 1em;">
        <span id="table_title" class="title-decor" style="color: #0f5132"></span>
        <div id="example"></div>


    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script>
const container = document.querySelector('#example');

var hot = null;

//hot.setDataAtCell(0, 0, 'Ford');
const api_url = '{{ url_for('main_books.get_data') }}';
var select = 1;

var table_title = document.getElementById('table_title');

function pivot(arr) {
  const pivotedArr = [];

  if (!arr || arr.length === 0 || !arr[0] || arr[0].length === 0) {
    return pivotedArr;
  }

  const rowCount = arr.length;
  const colCount = arr[0].length;

  for (let i = 0; i < rowCount; i++) {
    for (let j = 0; j < colCount; j++) {
      if (!pivotedArr[j]) {
        pivotedArr[j] = [];
      }

      pivotedArr[j][i] = arr[i][j];
    }
  }

  return pivotedArr;
}

function rotate_arr_by_90_deg_r(arr){

    let n_arr= []; // новый перевёрнутый массив

    let n_rows = arr[0].length;   // количество новых строк

    let n_cols = arr.length;      // количество новых столбцов

    for(let x = 0; x < n_rows; x++){

        let row_arr = []; // это элемент из нового массива

        for(let y = (n_cols - 1), z = 0; y >= 0; y--, z++){

            row_arr[z] = arr[y][x];

        }

        n_arr[x] = row_arr;

    };

    return n_arr;

};
    function book_select(el) {
        console.log(el);
        console.log(el.getAttribute('book-select'));
        select = el.getAttribute('book-select')

        // Specify the API endpoint for user data

        get_data()
    }

    function get_data(){
                fetch(api_url + select)
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            // Process the retrieved user data
            console.log('data:', data);
            var a = pivot(data.data);
            console.log(a)
            //a.shift();
            console.log(a);

            table_title.innerHTML = data.book_name;
            container.innerHTML = ""; //.remove();
            hot = new Handsontable(container, {
              data: data.data,
              rowHeaders: false,
              colHeaders: true,
              height: 'auto',
              autoWrapRow: false,
              autoWrapCol: true,
              licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
            });

          })
          .catch(error => {
            console.error('Error:', error);
          });
    }

window.onload = function () {
    get_data()
}
    </script>
{% endblock %}